@font-face {
	font-family: 'Splatoon2';
	font-style: normal;
	font-weight: 400;
	src: local('Splatoon2'), url(../font/Splatfont2.ttf) format('woff');
}

.dark-mode {

    --bgColor: #171B22;
    --backdropBg: rgba(23,27,34,.5);
    --globalBorderColor: #2C2C2C;
    --scrollbarTrack: #2C2C2C;
    --scrollbarThumb: #6B6B6B;
    --globalBg: #232323;
    --tooltipBg: var(--white);
    --tooltipColor: var(--dark);
}

fieldset {
    width: 230px;
}

legend {
    text-align: left;
}

.fullwidth {
    width: 95%;
}

.halfwidth {
    width: 45%;
}


div.container {
    width: 200px;

    /* font-family: Splatoon2; */
    text-align: center;
}

div.subcontainer {
    text-align: left;
}

/* These break on older OBS apparently */
.is-green {
    --buttonBg: var(--green);
}

.is-red {
    --buttonBg: var(--red);
}

.is-yellow {
    --buttonBg: var(--yellow);
    color: black;
}

.button {
    height: inherit;
}

