@font-face {
	font-family: 'Splatoon2';
	font-style: normal;
	font-weight: 400;
	src: local('Splatoon2'), url(../font/Splatfont2.ttf) format('truetype');
}

html {
	height: 100%;
}

body {
	background-color: rgb(24, 24, 24);
	/* background-color: red; */
	color:#bec7d2;
	font-family:Helvetica, Arial, sans-serif;
	font-size:.88em;
	font-weight:400;
	height:100%;
	line-height:15px;
	margin:0;
	padding:0;
	text-shadow:1px 1px 0 rgba(0,0,0,0.3);
	font-family: "Splatoon2";
	box-sizing: border-box;
}

iframe.dock {
	position: absolute;
	left: 10px;
	top: 10px;
	height: 95%;
	width: 250px;
}

#randomweapon_container {
	position: absolute;
	right: 30px;
	bottom: 30px;
}

#results {
	position: absolute;
	right: 30px;
	top: 30px;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
}

td {
	border:0;
	padding:0;
}

#wrap {	min-height:100%; }

#bingoPage #bingo {
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	user-select: none;
	/* margin-top:16px; */
}

#bingoPage #bingo tr td {
	background-color:rgba(0, 0, 0, 1);
	border:1px #424242 solid;
	cursor:pointer;
	text-align:center;

	/* height:128px;
	width:128px; */
    /* max-width:110px;
    max-height:110px; */
}

#bingoPage #bingo tr td:hover,#bingoPage #bingo tr td.hover {
	background:#001a36;
	color:#fff;
}


.green {
	background:#051;
}

.green:hover {
	background:#072;
}

.red {
	background:#501;
}

.red:hover {
	background:#702;
}

#bingoPage #bingo tr td.greensquare {
	background:#051;
}

#bingoPage #bingo tr td.greensquare:hover,#bingoPage #bingo tr td.greensquare.hover {
	background:#072;
}

#bingoPage #bingo tr td.redsquare {
	background:#501;
}

#bingoPage #bingo tr td.redsquare:hover,#bingoPage #bingo tr td.redsquare.hover {
	background:#702;
}

.container {
	margin:0px;
	width:100%;
	height: 100%;
}

.splat3_dialog {
	background-image: url("../img/splat3-dialog.png");
	background-size: cover;
	font-family: "Splatoon2";

	width: 600px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#randomweapon_content {
	display: grid;
	grid-template-columns: 40% auto;
	grid-template-rows: 33% 33% 33%;

	text-align: left;
	font-size: 32px;
	align-items: center;
	width: 100%;
	height: 55%;
	text-shadow: #000 2px 2px;
	transform: rotate(-2deg);
}

#randomweapon_toptext {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	color: rgb(237, 73, 8);
	align-items: baseline;
	text-transform: uppercase;
}

#randomweapon_middletext {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	font-size: 90%;
}

#randomweapon_bottomtext {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	font-size: 120%
}

#randomweapon_weapon {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	/* filter: drop-shadow(5px 5px 2px black); */
}

#randomweapon_weapon img {
	width: 85%;
}

.slotcontent {
	box-shadow:inset 0 0 50px rgba(0,0,0,0.6);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 128px;
	width: 128px;
}

.slotweaponimage {
	width: 100%;
	height: 100%;
}

.slotweaponimage img {
	max-height: 100%;
	max-width: 100%;
	display: block;
}

.slotweaponname {
	height: 128px;
	width: 128px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	text-shadow:1px 1px 0 rgba(0,0,0,1);
}

